{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a Game {% endblock %}</h1>
    <div>
       <form method="post">
              <input type="text" name="date"
                     placeholder="Date"
                     value="{{ request.form['date'] }}"></input>

               <br>
               <input type="text" name="winner1"
                      placeholder="Winner 1"
                      value="{{ request.form['winner1'] }}"></input>

               <br>
               <input type="text" name="winner2"
                      placeholder="Winner 2"
                      value="{{ request.form['winner2'] }}"></input>

               <br>
               <input type="text" name="loser1"
                      placeholder="Loser 1"
                      value="{{ request.form['loser1'] }}"></input>
               <br>        
               <input type="text" name="loser2"
                      placeholder="Loser 2"
                      value="{{ request.form['loser2'] }}"></input>

               <br>
               <input type="number" name="winner_score"
                      placeholder="Winner's Score"
                      value="{{ request.form['winner_score'] }}"></input>

               <br>
               <input type="number" name="loser_score"
                      placeholder="Loser's Score"
                      value="{{ request.form['loser_score'] }}"></input>
               <br>  

               <input type="submit" value="Submit">
           </form>
       </div>
{% endblock %}