{% extends 'base.html' %}

{% block content %}
    <nav>
        <h1><a href="{{ url_for('edit_games') }}">Edit Games</a></h1>
    </nav>
    <h1>{% block title %} Add a Game {% endblock %}</h1>
    <div class="container">
    <form method="post">
        <datalist id="players">
            {% for player in players %}
                <option value= "{{ player }}">
            {% endfor %}
        </datalist>
        <br>
        <input type="text" name="winner"
                placeholder="Winner"
                value="{{ request.form['winner'] }}"
                list="players">
        <br>
        <input type="text" name="loser"
                placeholder="Loser"
                value="{{ request.form['loser'] }}"
                list="players">
        <br>        
        <input type="number" pattern="[0-9]*" name="winner_score"
                placeholder="Winner's Score"
                value="{{ request.form['winner_score'] }}"
                list="scores">
        <br>
        <input type="number" pattern="[0-9]*" name="loser_score"
                placeholder="Loser's Score"
                value="{{ request.form['loser_score'] }}"
                list="scores">
        <br>      
        <input type="submit" value="Submit">
    </form>
    </div>
{% endblock %}