<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <nav>
        <h1><a href="{{ url_for('add_game') }}">Add Game</a> <a href="{{ url_for('index') }}">Stats</a> <a href="{{ url_for('games') }}">Games</a></h1>
        <h2>
            {% for year in all_years %}
                <a href="{{ url_for('stats', year=year) }}">{{ year }}</a>
            {% endfor %}
        </h2>
    </nav>
    <hr>
    <div class="content">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block content %} {% endblock %}
    </div>
</body>
</html>