{% extends 'base_admin.html' %}
{% block content %}
    <!-- [ML] inserts a table describing the game about to be deleted -->
	<br>
    <h1>{% block title %} Delete Game {% endblock %}</h1>
	<table>
	   <thead>
			<tr>
				<th scope="col" colspan="1">Date/Updated</th>
				<th scope="col" colspan="1">Winner</th>
				<th scope="col" colspan="1">Loser</th>
			</tr>
		</thead>
	   	<tbody>
			<tr>
				<td>{{ game.game_datetime.strftime("%m/%d/%Y") }}<br>{{ game.game_datetime.strftime("%I:%M %p") }}</td>
				<td><a href="{{ url_for('player_stats', year=year, name=game.winners[0] ) }}">{{ game.winners[0] }}</a><br><a href="{{ url_for('player_stats', year=year, name=game.winners[1] ) }}">{{ game.winners[1] }}</a></td>
				<td><a href="{{ url_for('player_stats', year=year, name=game.losers[0] ) }}">{{ game.losers[0] }}</a><br><a href="{{ url_for('player_stats', year=year, name=game.losers[1] ) }}">{{ game.losers[1] }}</a></td>
			</tr>
			<tr>
				<td>{{ game.last_mod_datetime.strftime("%m/%d/%Y") }}<br>{{ game.last_mod_datetime.strftime("%I:%M %p") }}</td>
				<td>{{ game.winner_score }}</td>
				<td>{{ game.loser_score }}</td>
			</tr>
		</tbody>
	</table>
    <div>
        <form action='' method="post">
			<p>
            <h2>Delete above described game?<br>
				<button type="submit">Yes</button>
				<button type="button" onclick="window.location.href='/edit_games'">No</button>
			</h2>
			</p>
        </form>
    </div>
{% endblock %}