{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} {{ games[1][1][0:4] }} Games {% endblock %}</h1>
        <div>
        	<table>
        		<thead>
    				<tr>
      					<th scope="col" colspan="1">Date</th>
                        <th scope="col" colspan="1">Winners</th>
                        <th scope="col" colspan="1"></th>
                        <th scope="col" colspan="1">Losers</th>
                        <th scope="col" colspan="1"></th>
                        <th scope="col" colspan="1">Last Updated</th>
                        <th scope="col" colspan="1">Edit</th>
                        <th scope="col" colspan="1">Delete</th>


    				</tr>
  				</thead>
        		<tbody>
                {% for game in games %}
        			<tr>
            			<td>{{ game[1][5:7] }}/{{ game[1][8:10] }}/{{ game[1][0:4] }}
                            {% if game[1]|length > 14 %}
                                {{ game[1][11:16] }}
                            {% endif %}</td>
            			<td>{{ game[2] }}<br>{{ game[3] }}</td>
            			<td>{{ game[4] }}</td>
                        <td>{{ game[5] }}<br>{{ game[6] }}</td>
                        <td>{{ game[7] }}</td>
                        <td>{{ game[8][5:7] }}/{{ game[8][8:10] }}/{{ game[8][0:4] }}<br>{{ game[8][11:16] }}</td>
                        <td><a href="{{ url_for('update', id=game[0]) }}">{{ game[0] }}</a></td>
                        <td><a href="{{ url_for('update', id=game[0]) }}">{{ game[0] }}</a></td>
            		</tr>
                {% endfor %}
            	</tbody>
            </table>
        </div>
{% endblock %}


 <a href="{{ url_for('stats', year=year) }}">{{ year }}</a>