{% extends base_template %}

{% block content %}
    <div class="sr-header sr-header-compact" style="margin-bottom: 20px;">
        <div class="sr-header-actions">
            <button class="menu-toggle" id="menu-toggle" type="button"><i class="fas fa-bars"></i> Menu</button>
        </div>
    </div>
    <h1>{% block title %} Messages {% endblock %}</h1>
    {% for message in messages %}
        <div class='message'>
            <h3>{{ message['title'] }}</h3>
            <p>{{ message['content'] }}</p>
        </div>
    {% endfor %}
{% endblock %}