{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Volleyball KOBs {% endblock %}</h1>
    
    {% if kobs_with_games %}
        <div>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Players</th>
                        <th scope="col">Games</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                {% for kob_data in kobs_with_games %}
                {% set kob = kob_data.kob %}
                {% set games = kob_data.games %}
                {% set players = kob_data.players %}
                    <tr>
                        <td>{% if kob[1] %}{{ kob[1][5:7] }}/{{ kob[1][8:10] }}/{{ kob[1][2:4] }}{% else %}Unknown{% endif %}</td>
                        <td>{{ players|join(', ') }}</td>
                        <td>{{ kob[3] }}</td>
                        <td><a href="{{ url_for('kob_detail', session_number=kob[0]) }}">View Details</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No KOBs found in the database.</p>
    {% endif %}
{% endblock %}
