{% extends 'base.html' %}

{% block content %}
    <nav>
        <div class="dropdown">
            <button class="dropbtn">Select a year
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                {% for year in all_years %}
                    <a href="{{ url_for('one_v_one_games_by_year', year=year) }}">{{ year }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Game type
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                {% for game_type in game_types %}
                    {% if year == 'All years' %}
                        <a href="{{ url_for('one_v_one_games_by_type', game_type=game_type) }}">{{ game_type }}</a>
                    {% else %}
                        <a href="{{ url_for('one_v_one_games_by_year_and_type', year=year, game_type=game_type) }}">{{ game_type }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>       
    </nav>
    <h1>{% block title %} {{ year }} 1v1 Games{% if selected_game_type %} - {{ selected_game_type }}{% endif %} {% endblock %}</h1>
        <div>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Date/Time</th>
                        <th scope="col">Game</th>
                        <th scope="col">Winner</th>
                        <th scope="col">Score</th>
                        <th scope="col">Loser</th>
                        <th scope="col">Score</th>
                    </tr>
                </thead>
                <tbody>
                {% for game in games %}
                    <tr>
                        <td>{{ game[1][0:8] }}<br>
                            {% if game[1]|length > 9 %}
                                {{ game[1][9:] }}
                            {% endif %}</td>
                        <td><a href="{{ url_for('single_game_stats', game_name=game[3]) }}">{{ game[3] }}</a></td>
                        <td><a href="{{ url_for('one_v_one_player_stats', year=year, name=game[4] ) }}">{{ game[4] }}</a></td>
                        <td class="score winner-score">{{ game[5] }}</td>
                        <td><a href="{{ url_for('one_v_one_player_stats', year=year, name=game[6] ) }}">{{ game[6] }}</a></td>
                        <td class="score loser-score">{{ game[7] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}