{% extends 'base.html' %}

{% block content %}
    <nav>
        <div class="dropdown">
            <button class="dropbtn">Select a year
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                {% for year in all_years %}
                    <a href="{{ url_for('other_games_by_year', year=year) }}">{{ year }}</a>
                {% endfor %}
            </div>
        </div>       
    </nav>
    <h1>{% block title %} {{ year }} Other Games {% endblock %}</h1>
        <div>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Date/Time</th>
                        <th scope="col">Game</th>
                        <th scope="col">Winner(s)</th>
                        <th scope="col">Loser(s)</th>
                    </tr>
                </thead>
                <tbody>
                {% for game in games %}
                    <tr>
                        <td>{{ game["game_date_only"] }}<br>
                            {% if game["game_date"]|length > 9 %}
                                {{ game["game_date"][9:] }}
                            {% endif %}</td>
                        <td><a href="{{ url_for('game_name_stats', game_name=game['game_name']) }}">{{ game["game_name"] }}</a></td>
                        <td>
                            {% for winner in game["winners"] %}
                                <div class="player-line">
                                    <a href="{{ url_for('other_player_stats', year=year, name=winner.name) }}">{{ winner.name }}</a>
                                    {% if winner.score is not none %}
                                        <span class="player-score">{{ winner.score }}</span>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </td>
                        <td>
                            {% for loser in game["losers"] %}
                                <div class="player-line">
                                    <a href="{{ url_for('other_player_stats', year=year, name=loser.name) }}">{{ loser.name }}</a>
                                    {% if loser.score is not none %}
                                        <span class="player-score">{{ loser.score }}</span>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}