{% extends 'base.html' %}

{% block content %}
    <nav>
        <div class="dropdown">
            <button class="dropbtn">Select a year
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                {% for year in all_years %}
                    <a href="{{ url_for('other_games_by_year', year=year) }}">{{ year }}</a>
                {% endfor %}
            </div>
        </div>       
    </nav>
    <h1>{% block title %} {{ year }} Other Games {% endblock %}</h1>
        <div>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Game</th>
                        <th scope="col">Winners</th>
                        <th scope="col">Score</th>
                        <th scope="col">Losers</th>
                        <th scope="col">Score</th>
                    </tr>
                </thead>
                <tbody>
                {% for game in games %}
                    <tr>
                        <td>{{ game["game_date"][5:7] }}/{{ game["game_date"][8:10] }}/{{ game["game_date"][0:4] }}</td>
                        <td><a href="{{ url_for('game_name_stats', game_name=game['game_name']) }}">{{ game["game_name"] }}</a></td>
                        <td class="team-players">
                            {% for i in range(1, 7) %}
                                {% if game["winner" + i|string] %}
                                    <span class="player winner">{{ game["winner" + i|string] }}</span>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="score winner-score">{{ game["winner_score"] }}</td>
                        <td class="team-players">
                            {% for i in range(1, 7) %}
                                {% if game["loser" + i|string] %}
                                    <span class="player loser">{{ game["loser" + i|string] }}</span>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="score loser-score">{{ game["loser_score"] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}