{% extends 'base.html' %}

{% block content %}
    <nav>
        <div class="dropdown">
            <button class="dropbtn">Select a year
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                {% for year in all_years %}
                    <a href="{{ url_for('one_v_one_games_by_year', year=year) }}">{{ year }}</a>
                {% endfor %}
            </div>
        </div>       
    </nav>
    <h1>{% block title %} {{ year }} Other Games {% endblock %}</h1>
        <div>
            <table>
                <thead>
                    <tr>
                        <th scope="col" colspan="1">Game ID</th>
                        <th scope="col" colspan="1">Game type</th>
                        <th scope="col" colspan="1">Game name</th>
                        <th scope="col" colspan="1">Game date</th>
                        <th scope="col" colspan="1">Updated at</th>
                        <th scope="col" colspan="1">Winner1</th>
                        <th scope="col" colspan="1">Winner2</th>
                        <th scope="col" colspan="1">Winner3</th>
                        <th scope="col" colspan="1">Winner4</th>
                        <th scope="col" colspan="1">Winner5</th>
                        <th scope="col" colspan="1">Winner6</th>
                        <th scope="col" colspan="1">Loser1</th>
                        <th scope="col" colspan="1">Loser2</th>
                        <th scope="col" colspan="1">Loser3</th>
                        <th scope="col" colspan="1">Loser4</th>
                        <th scope="col" colspan="1">Loser5</th>
                        <th scope="col" colspan="1">Loser6</th>
                        <th scope="col" colspan="1">Winner score</th>
                        <th scope="col" colspan="1">Loser score</th>
                        <th scope="col" colspan="1">Comment</th>
                    </tr>
                </thead>
                <tbody>
                {% for game in games %}
                    <tr class="table-double-row">
                        <td>{{game["game_id"]}}</td>
                        <td>{{game["game_type"]}}</td>
                        <td>{{game["game_name"]}}</td>
                        <td>{{game["game_date"]}}</td>
                        <td>{{game["updated_at"]}}</td>
                        <td>{{game["winner1"]}}</td>
                        <td>{{game["winner2"]}}</td>
                        <td>{{game["winner3"]}}</td>
                        <td>{{game["winner4"]}}</td>
                        <td>{{game["winner5"]}}</td>
                        <td>{{game["winner6"]}}</td>
                        <td>{{game["loser1"]}}</td>
                        <td>{{game["loser2"]}}</td>
                        <td>{{game["loser3"]}}</td>
                        <td>{{game["loser4"]}}</td>
                        <td>{{game["loser5"]}}</td>
                        <td>{{game["loser6"]}}</td>
                        <td>{{game["winner_score"]}}</td>
                        <td>{{game["loser_score"]}}</td>
                        <td>{{game["comment"]}}</td>
                        <td></td>
                    </tr>
                    <tr class="table-double-row">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}