{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} {{ player }} {{ year }} Stats {% endblock %}</h1>
    <br>
        <div>
        	<table>
                <caption> {{ minimum_games }}+ games</caption>
        		<thead>
    				<tr>
                        <th class="rank" scope="col" colspan="1">#</th>
      					<th class="player_name" scope="col" colspan="1">Player</th>
      					<th class="numbered_stats" scope="col" colspan="1">Wins</th>
      					<th class="numbered_stats" scope="col" colspan="1">Losses</th>
      					<th class="numbered_stats" scope="col" colspan="1">Win %</th>
      					<th class="numbered_stats" scope="col" colspan="1">Games</th>
    				</tr>
  				</thead>
        		<tbody>
        			{% for stat in partner_stats %}
        			<tr>
                        <td class="rank">{{ loop.index }}</td>
            			<td class="player_name"><a href="{{ url_for('player_stats', year=year, name=stat['partner'] ) }}">{{ stat['partner'] }}</a></td>
            			<td>{{ stat['wins'] }}</td>
            			<td>{{ stat['losses'] }}</td>
                        <td>{{ "{:.2f}".format(stat['win_percentage']*100) }}</td>
                        <td>{{ stat['total_games'] }}</td>
            		</tr>
            		{% endfor %}
            	</tbody>
            </table>
            <br>
            <br>
            <br>
            <table>
                <caption>Less than {{ minimum_games }} games</caption>
                <thead>
                    <tr>
                        <th class="rank" scope="col" colspan="1">#</th>
                        <th class="player_name" scope="col" colspan="1">Player</th>
                        <th class="numbered_stats" scope="col" colspan="1">Wins</th>
                        <th class="numbered_stats" scope="col" colspan="1">Losses</th>
                        <th class="numbered_stats" scope="col" colspan="1">Win %</th>
                        <th class="numbered_stats" scope="col" colspan="1">Games</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stat in rare_partner_stats %}
                    <tr>
                        <td class="rank">{{ loop.index }}</td>
                        <td class="player_name"><a href="{{ url_for('player_stats', year=year, name=stat['partner'] ) }}">{{ stat['partner'] }}</a></td>
                        <td>{{ stat['wins'] }}</td>
                        <td>{{ stat['losses'] }}</td>
                        <td>{{ "{:.2f}".format(stat['win_percentage']*100) }}</td>
                        <td>{{ stat['total_games'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}