{% extends 'base.html' %}

{% block content %}
    <nav>
        <div class="dropdown">
            <button class="dropbtn">Select a year
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                {% for year in all_years %}
                    <a href="{{ url_for('stats', year=year) }}">{{ year }}</a>
                {% endfor %}
            </div>
        </div>       
    </nav>
        <div>
            {% if todays_stats %}
            <div class="date-navigation">
                {% if current_date %}
                    <div class="date-header">
                        {% if has_previous %}
                            <a href="{{ url_for('stats_by_date', year=year, date=previous_date) }}" class="nav-arrow nav-left" title="Previous day">
                                <i class="fa fa-chevron-left"></i>
                            </a>
                        {% else %}
                            <span class="nav-arrow nav-left disabled">
                                <i class="fa fa-chevron-left"></i>
                            </span>
                        {% endif %}
                        
                        <h1 class="date-title">
                            {% if display_date %}
                                {{ display_date }} Stats
                            {% else %}
                                Today's Stats
                            {% endif %}
                        </h1>
                        
                        {% if has_next %}
                            <a href="{{ url_for('stats_by_date', year=year, date=next_date) }}" class="nav-arrow nav-right" title="Next day">
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        {% else %}
                            <span class="nav-arrow nav-right disabled">
                                <i class="fa fa-chevron-right"></i>
                            </span>
                        {% endif %}
                    </div>
                {% else %}
                    <h1>Today's stats</h1>
                {% endif %}
            </div>
            <table>
                <thead>
                    <tr>
                        <th class="rank" scope="col" colspan="1">#</th>
                        <th class="player_name" scope="col" colspan="1">Player</th>
                        <th class="numbered_stats" scope="col" colspan="1">Wins</th>
                        <th class="numbered_stats" scope="col" colspan="1">Losses</th>
                        <th class="numbered_stats" scope="col" colspan="1">Win %</th>
                        <th class="numbered_stats" scope="col" colspan="1">+/-</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in todays_stats %}
                    <tr>
                        <td class="rank">{{ loop.index }}</td>
                        <td class="player_name"><a href="{{ url_for('player_stats', year=year, name=player[0] ) }}">{{ player[0] }}</a></td>
                        <td>{{ player[1] }}</td>
                        <td>{{ player[2] }}</td>
                        <td>{{ "{:.2f}".format(player[3]*100) }}</td>
                        {% if player[4] > 0 %}
                            <td>+{{ player[4] }}</td>
                        {% else %}
                            <td>{{ player[4] }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h1>
                {% if current_date %}
                    {{ display_date }} Games
                {% else %}
                    Today's games
                {% endif %}
            </h1>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Date/Time</th>
                        <th scope="col">Winners</th>
                        <th scope="col">Score</th>
                        <th scope="col">Losers</th>
                        <th scope="col">Score</th>
                    </tr>
                </thead>
                <tbody>
                {% for game in games %}
                    <tr>
                        <td>{{ game[1][0:10] }}<br>
                            {% if game[1]|length > 14 %}
                                {{ game[1][11:19] }}
                            {% endif %}</td>
                        <td><a href="{{ url_for('player_stats', year=year, name=game[2] ) }}">{{ game[2] }}</a><br><a href="{{ url_for('player_stats', year=year, name=game[3] ) }}">{{ game[3] }}</a></td>
                        <td class="score winner-score">{{ game[4] }}</td>
                        <td><a href="{{ url_for('player_stats', year=year, name=game[5] ) }}">{{ game[5] }}</a><br><a href="{{ url_for('player_stats', year=year, name=game[6] ) }}">{{ game[6] }}</a></td>
                        <td class="score loser-score">{{ game[7] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
            <h1>{% block title %} {{ year }} Doubles Stats {% endblock %}</h1>
        	<table>
        		<thead>
    				<tr>
                        <th class="rank" scope="col" colspan="1">#</th>
      					<th class="player_name" scope="col" colspan="1">Player</th>
      					<th class="numbered_stats" scope="col" colspan="1">Wins</th>
      					<th class="numbered_stats" scope="col" colspan="1">Losses</th>
      					<th class="numbered_stats" scope="col" colspan="1">Win %</th>
      					<th class="numbered_stats" scope="col" colspan="1">Games</th>
    				</tr>
  				</thead>
        		<tbody>
        			{% for player in stats %}
        			<tr>
                        <td class="rank">{{ loop.index }}</td>
            			<td class="player_name"><a href="{{ url_for('player_stats', year=year, name=player[0] ) }}">{{ player[0] }}</a></td>
            			<td>{{ player[1] }}</td>
            			<td>{{ player[2] }}</td>
            			<td>{{ "{:.2f}".format(player[3]*100) }}</td>
            			<td>{{ player[1] + player[2] }}</td>
            		</tr>
            		{% endfor %}
            	</tbody>
            </table>
            {% if rare_stats %}
            <table>
                <h3>Less than {{ minimum_games }} games</h3>
                <thead>
                    <tr>
                        <th class="rank" scope="col" colspan="1">#</th>
                        <th class="player_name" scope="col" colspan="1">Player</th>
                        <th class="numbered_stats" scope="col" colspan="1">Wins</th>
                        <th class="numbered_stats" scope="col" colspan="1">Losses</th>
                        <th class="numbered_stats" scope="col" colspan="1">Win %</th>
                        <th class="numbered_stats" scope="col" colspan="1">Games</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in rare_stats %}
                    <tr>
                        <td class="rank">{{ loop.index }}</td>
                        <td class="player_name"><a href="{{ url_for('player_stats', year=year, name=player[0] ) }}">{{ player[0] }}</a></td>
                        <td>{{ player[1] }}</td>
                        <td>{{ player[2] }}</td>
                        <td>{{ "{:.2f}".format(player[3]*100) }}</td>
                        <td>{{ player[1] + player[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
{% endblock %}