{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} {{ year }} Stats {% endblock %}</h1>
        	<table>
        		<thead>
    				<tr>
                        <th class="numbered_stats" scope="col" colspan="1">#</th>
      					<th scope="col" colspan="1">Player</th>
      					<th class="numbered_stats" scope="col" colspan="1">Wins</th>
      					<th class="numbered_stats" scope="col" colspan="1">Losses</th>
      					<th class="numbered_stats" scope="col" colspan="1">Win %</th>
      					<th class="numbered_stats" scope="col" colspan="1">Games</th>
    				</tr>
  				</thead>
        		<tbody>
        			{% for player in stats %}
                    {% if player[1]+ player[2] > minimum_games %}
        			<tr>
                        <td>{{ loop.index }}</td>
            			<td>{{ player[0] }}</td>
            			<td>{{ player[1] }}</td>
            			<td>{{ player[2] }}</td>
            			<td>{{ "{:.2f}".format(player[3]) }}</td>
            			<td>{{ player[1] + player[2] }}</td>
            		</tr>
                    {% endif %}
            		{% endfor %}
            	</tbody>
            </table>
        </div>
{% endblock %}