{% extends 'base.html' %}

{% block title %}Tournaments{% endblock %}

{% block content %}
<div class="container">
    <h1>Tournaments</h1>
    
    <div class="tournaments-list">
        <table>
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Place</th>
                    <th scope="col">Partner</th>
                    <th scope="col">Location</th>
                    <th scope="col">Tournament</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>09/16/25</td>
                    <td>3rd</td>
                    <td>Solo</td>
                    <td>Hermosa Beach</td>
                    <td>Spike N Go</td>
                </tr>
                <tr>
                    <td>08/30/25</td>
                    <td>5th</td>
                    <td>Justin Chow</td>
                    <td>Hermosa Beach</td>
                    <td>Gene Selznick Open</td>
                </tr>
                <tr>
                    <td>08/24/25</td>
                    <td>1st</td>
                    <td>John Ferraro</td>
                    <td>Manhattan Beach</td>
                    <td>Men's AA</td>
                </tr>
                <tr>
                    <td>08/06/25</td>
                    <td>1st</td>
                    <td>Solo</td>
                    <td>Hermosa Beach</td>
                    <td>Spike N Go</td>
                </tr>
                <tr>
                    <td>07/27/25</td>
                    <td>15th</td>
                    <td>Tom Kohler</td>
                    <td>Manhattan Beach</td>
                    <td>Men's AA</td>
                </tr>
                <tr>
                    <td>07/23/25</td>
                    <td>2nd</td>
                    <td>Solo</td>
                    <td>Hermosa Beach</td>
                    <td>Spike N Go</td>
                </tr>
                <tr>
                    <td>07/17/25</td>
                    <td>3rd</td>
                    <td>Solo</td>
                    <td>Hermosa Beach</td>
                    <td>Spike N Go Short Kings</td>
                </tr>
                <tr>
                    <td>07/16/25</td>
                    <td>2nd</td>
                    <td>Solo</td>
                    <td>Hermosa Beach</td>
                    <td>Spike N Go</td>
                </tr>
                <tr>
                    <td>07/13/25</td>
                    <td>2nd</td>
                    <td>Justin Chow</td>
                    <td>Hermosa Beach</td>
                    <td>Spike N Go</td>
                </tr>
                <tr>
                    <td>07/08/25</td>
                    <td>2nd</td>
                    <td>Solo</td>
                    <td>Hermosa Beach</td>
                    <td>Spike N Go</td>
                </tr>
                <tr>
                    <td>07/05/25</td>
                    <td>17th</td>
                    <td>Kevin Cleary</td>
                    <td>Long Beach</td>
                    <td>Men's AA</td>
                </tr>
                <tr>
                    <td>07/02/25</td>
                    <td>1st</td>
                    <td>Solo</td>
                    <td>Hermosa Beach</td>
                    <td>Spike N Go</td>
                </tr>
                <tr>
                    <td>06/24/25</td>
                    <td>3rd</td>
                    <td>Solo</td>
                    <td>Hermosa Beach</td>
                    <td>Spike N Go</td>
                </tr>
                <tr>
                    <td>08/31/24</td>
                    <td>5th</td>
                    <td>Justin Chow</td>
                    <td>Hermosa Beach</td>
                    <td>Gene Selznick Open</td>
                </tr>
                <tr>
                    <td>08/04/24</td>
                    <td>22nd</td>
                    <td>Tyler Stock</td>
                    <td>Hermosa Beach</td>
                    <td>Mich Ultra Open</td>
                </tr>
                <tr>
                    <td>08/06/23</td>
                    <td>9th</td>
                    <td>Justin Chow</td>
                    <td>Hermosa Beach</td>
                    <td>AVP Wildcard Open</td>
                </tr>
                <tr>
                    <td>06/10/23</td>
                    <td>1st</td>
                    <td>Justin Chow</td>
                    <td>Manhattan Beach</td>
                    <td>Men's AA</td>
                </tr>
                <tr>
                    <td>05/27/23</td>
                    <td>25th</td>
                    <td>Justin Chow</td>
                    <td>Hermosa Beach</td>
                    <td>AVP Wildcard Open</td>
                </tr>
                <tr>
                    <td>05/14/23</td>
                    <td>2nd</td>
                    <td>Justin Chow</td>
                    <td>Santa Monica</td>
                    <td>Men's AA</td>
                </tr>
                <tr>
                    <td>04/30/23</td>
                    <td>3rd</td>
                    <td>Justin Chow</td>
                    <td>Manhattan Beach</td>
                    <td>Men's AA</td>
                </tr>
                <tr>
                    <td>10/15/22</td>
                    <td>9th</td>
                    <td>Brian Fung</td>
                    <td>Santa Barbara</td>
                    <td>Men's Open</td>
                </tr>
                <tr>
                    <td>09/11/22</td>
                    <td>2nd</td>
                    <td>Brian Fung</td>
                    <td>Santa Monica</td>
                    <td>Men's AA</td>
                </tr>
                <tr>
                    <td>09/03/22</td>
                    <td>9th</td>
                    <td>Justin Chow</td>
                    <td>Hermosa Beach</td>
                    <td>Gene Selznick Open</td>
                </tr>
                <tr>
                    <td>08/28/22</td>
                    <td>5th</td>
                    <td>Cameron Steen</td>
                    <td>Manhattan Beach</td>
                    <td>Men's AA</td>
                </tr>
                <tr>
                    <td>06/04/22</td>
                    <td>5th</td>
                    <td>Brian O'Neill</td>
                    <td>Santa Monica</td>
                    <td>Men's AA</td>
                </tr>
                <tr>
                    <td>05/15/22</td>
                    <td>3rd</td>
                    <td>Justin Chow</td>
                    <td>Santa Monica</td>
                    <td>Men's Open</td>
                </tr>
                <tr>
                    <td>05/07/22</td>
                    <td>13th</td>
                    <td>Justin Chow</td>
                    <td>Long Beach</td>
                    <td>Men's Open</td>
                </tr>
                <tr>
                    <td>04/30/22</td>
                    <td>17th</td>
                    <td>Justin Chow</td>
                    <td>Manhattan Beach</td>
                    <td>AVP Wildcard Open</td>
                </tr>
                <tr>
                    <td>10/17/21</td>
                    <td>5th</td>
                    <td>Luis Sandoval</td>
                    <td>Santa Monica</td>
                    <td>Men's AA</td>
                </tr>
                <tr>
                    <td>07/11/21</td>
                    <td>5th</td>
                    <td>Chris Chown</td>
                    <td>Long Beach</td>
                    <td>Men's AA</td>
                </tr>
                <tr>
                    <td>07/28/18</td>
                    <td>5th</td>
                    <td>Rob deAurora</td>
                    <td>Manhattan Beach</td>
                    <td>Men's Open</td>
                </tr>
                <tr>
                    <td>05/26/18</td>
                    <td>9th</td>
                    <td>Chris Dedo</td>
                    <td>Hermosa Beach</td>
                    <td>Open</td>
                </tr>
                <tr>
                    <td>03/18/18</td>
                    <td>1st</td>
                    <td>Christopher Jones</td>
                    <td>Long Beach</td>
                    <td>Men's AA</td>
                </tr>
                <tr>
                    <td>11/19/17</td>
                    <td>5th</td>
                    <td>Chris Dedo</td>
                    <td>Huntington Beach</td>
                    <td>Men's Open</td>
                </tr>
                <tr>
                    <td>08/26/17</td>
                    <td>DNMP</td>
                    <td>Scott Olson</td>
                    <td>Hermosa Beach</td>
                    <td>Men's A</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
