{% extends 'base.html' %}

{% block content %}
    <nav>
        <div class="dropdown">
            <button class="dropbtn">Select a year
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                {% for y in all_years %}
                    <a href="{{ url_for('volleyball_player_stats', year=y, name=player) }}">{{ y }}</a>
                {% endfor %}
            </div>
        </div>       
    </nav>
    <h1>{% block title %} {{ player }} {{ year }} Volleyball Stats {% endblock %}</h1>
    <p class="page-sublink"><a href="{{ url_for('volleyball_stats', year=year) }}"><i class="fas fa-volleyball-ball"></i> Back to all volleyball stats</a></p>
    
    {% if stats and stats[0] %}
    <table>
        <thead>
            <tr>
                <th class="player_name" scope="col" colspan="1">Player</th>
                <th class="numbered_stats" scope="col" colspan="1">Wins</th>
                <th class="numbered_stats" scope="col" colspan="1">Losses</th>
                <th class="numbered_stats" scope="col" colspan="1">Win %</th>
                <th class="numbered_stats" scope="col" colspan="1">Games</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="player_name">{{ stats[0][0] }}</td>
                <td>{{ stats[0][1] }}</td>
                <td>{{ stats[0][2] }}</td>
                <td>{{ "{:.2f}".format(stats[0][3]*100) }}</td>
                <td>{{ stats[0][4] }}</td>
            </tr>
        </tbody>
    </table>
    {% else %}
    <p>No volleyball games found for this player in {{ year }}.</p>
    {% endif %}

    {% if game_cards %}
    {% for card in game_cards %}
    <h2>{{ card.game_name }}</h2>
    <p class="page-sublink"><a href="{{ url_for('other_games_by_year_and_name', year=year, game_name=card.game_name) }}"><i class="fas fa-list-alt"></i> View {{ year }} {{ card.game_name }} games</a></p>
    <table>
        <thead>
            <tr>
                <th class="numbered_stats" scope="col" colspan="1">Wins</th>
                <th class="numbered_stats" scope="col" colspan="1">Losses</th>
                <th class="numbered_stats" scope="col" colspan="1">Win %</th>
                <th class="numbered_stats" scope="col" colspan="1">Games</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ card.wins }}</td>
                <td>{{ card.losses }}</td>
                <td>{{ "{:.2f}".format(card.win_percentage*100) }}</td>
                <td>{{ card.total_games }}</td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
    {% endif %}
{% endblock %}
