{% extends 'base.html' %}

{% block content %}
    <nav>
        <div class="dropdown">
            <button class="dropbtn">Select a year
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                {% for year in all_years %}
                    <a href="{{ url_for('vollis_games_by_year', year=year) }}">{{ year }}</a>
                {% endfor %}
            </div>
        </div>       
    </nav>
    <h1>{% block title %} {{ year }} Vollis Games {% endblock %}</h1>
    <p class="page-sublink"><a href="{{ url_for('vollis_stats', year=year) }}"><i class="fas fa-arrow-left"></i> Back to {{ year }} vollis stats</a></p>
        <div>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Date/Time</th>
                        <th scope="col">Winner</th>
                        <th scope="col">Score</th>
                        <th scope="col">Loser</th>
                        <th scope="col">Score</th>
                    </tr>
                </thead>
                <tbody>
                {% for game in games %}
                    <tr>
                        <td>{{ game[1][0:8] }}<br>
                            {% if game[1]|length > 8 %}
                                {{ game[1][9:17] }}
                            {% endif %}</td>
                        <td><a href="{{ url_for('vollis_player_stats', year=year, name=game[2] ) }}">{{ game[2] }}</a></td>
                        <td class="score winner-score">{{ game[3] }}</td>
                        <td><a href="{{ url_for('vollis_player_stats', year=year, name=game[4] ) }}">{{ game[4] }}</a></td>
                        <td class="score loser-score">{{ game[5] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}
